/* Footer Styles */
.footer {
  background-color: #fac31b; /* Match primary color */
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo Styling */
.footer-logo {
  width: 100px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 10px;
}

/* Footer Links */
.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ffccbc; /* Light red for hover effect */
}