/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo */
.navbar-logo img {
  height: 50px;
}

/* Navigation Links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.navbar-links {
  position: absolute;
  top: 60px; /* Adjust based on your layout */
  left:0;
  width: 100%;
  background: white; /* Or your preferred background color */
  z-index: 1000; /* Ensure it's higher than the hero section */
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: white;
      width: 100%;
      padding: 10px 0;
  }

  .navbar-links.show {
      display: flex;
  }

  .menu-toggle {
      display: block;
  }
}